/* youtube-player specific style */

/* hide first child as it only contains the video url */
.youtube-player.block > div:first-child {
    display: none;
}

.youtube-player-iframe {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 103;
    display: block;
    width: 1280px;
    max-width: 90%;
    max-height: 90%;
    aspect-ratio: 1280/720;
    border: none;
    box-shadow: 0 0 15px hsl(0deg 0% 0% / 80%);
}

.youtube-player.block {
    cursor: pointer;
}
