/* header and nav layout */
header {
  box-sizing: border-box;
  box-shadow: 0 10px 50px -2px rgb(0 0 0 / 14%);
  width: 100%;
  position: static;
  z-index: 1;
  height: fit-content;
}

header > div.header {
  box-sizing: border-box;
  width: 100%;
  position: static;
  z-index: 2;
  height: inherit;
  transition: height .200s ease;
}

html[data-topposition='false'] header > div.header {
  box-shadow: rgb(0 0 0 / 12%) 0 1px 3px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  height: inherit;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand hamburger tools' var(--nav-mobile-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  margin: 0 auto;
  max-width: 1260px;
  height: auto;
  background-color: var(--primary-background-color);
  font-family: var(--nav-mobile-font-family);
}

html[data-topposition='false'] header nav {
  height: inherit;
}

header nav[aria-expanded=true] {
  grid-template:
    'brand hamburger tools' var(--nav-mobile-height)
    'sections sections sections' 1fr / auto 1fr auto;
  overflow-y: visible;
}

@media (min-width: 800px) {
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header nav[aria-expanded=true] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link,
header nav li.nav-drop {
  text-transform: uppercase;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 20px;
  display: flex;
  align-items: center;
  justify-self: end;
  margin-right: 33px;
}

header nav .nav-hamburger button {
  height: 20px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--primary-background-color);
  color: #dadada;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  transition: 0.4s;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 18px;
  height: 3px;
  border-radius: 3px;
  background: currentcolor;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav .nav-hamburger-icon::before {
  top: -6px;
}

header nav .nav-hamburger-icon::after {
  top: 6px;
}

@media (min-width: 800px) {
  header nav {
    font-family: var(--nav-font-family);
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  margin-left: 30px;
}

header nav .nav-brand img {
  height: 42px;
  width: 150px;
  vertical-align: middle;
}

@media (min-width: 800px) {
  header .nav-brand {
    margin-left: 0;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  display: flex;
  flex-direction: column;
  transition: all .3s ease;
  transform-origin: left top;
  transform: scaleY(0);
}

header nav[aria-expanded=true] .nav-sections {
  transform: scaleY(1);
}

header nav .nav-sections > ul  {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: var(--nav-dropdown-element-font-weight);
  line-height: 35px;
  border-top: 1px solid #dadada;
  margin-top: 0;
  margin-bottom: 0;
}

header nav .nav-sections > ul > li {
  background-color: #f6f6f6;
  padding-left: 30px;
  font-size: 12px;
  height: 35px;
  border-bottom: 1px solid #dadada;
  cursor: pointer;
  user-select: none;
}

header nav .nav-sections > ul > li.nav-drop[aria-expanded=true] {
  height: fit-content;
}

header nav .nav-sections > ul > li.nav-drop > ul {
  box-sizing: border-box;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 ;
  margin-left: -30px;
  padding-left: 0;
  background-color: #f6f6f6;
  border-top: 1px solid #dadada;
  list-style: none;
  transition: all .3s ease;
  transform-origin: left top;
  transform: scaleY(0);
}

header nav .nav-sections > ul > li.nav-drop[aria-expanded=true] > ul {
  transform: scaleY(1);
  visibility: visible;
}

header nav .nav-sections ul > li > ul > li {
  box-sizing: border-box;
  font-weight: var(--nav-dropdown-element-font-weight);
  background-color: #f6f6f6;
  padding-left: 40px;
  font-size: 12px;
  height: 35px;
  border-bottom: 1px solid #dadada;
  cursor: pointer;
  user-select: none;
}

header nav .nav-sections ul > li > ul > li > a::before {
  content: '- '
}

/* SECTIONS DESKTOP1 */

/* SECTIONS DESKTOP2 */

/* SECTIONS DESKTOP3 */

/* SECTIONS DESKTOP4 */

/* SECTIONS DESKTOP5 */

@media (min-width: 800px) {
  header {
    height: var(--nav-height);
  }

  html[data-topposition='false'] header {
    height: var(--nav-shrinked-height);
  }

  header nav .nav-sections {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    visibility: visible;
    white-space: nowrap;
    margin-top: 0;
    max-height: none;
  }

  header nav[aria-expanded=true] .nav-sections {
    align-self: unset;
    display: flex;
    justify-content: flex-end;
    overflow: visible;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
    text-transform: uppercase;
  }

  header nav .nav-sections ul {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    font-size: var(--body-font-size-s);
    border: none;
  }

  header nav .nav-sections > ul > li {
    box-sizing: border-box;
    flex: 0 1 auto;
    position: relative;
    font-weight: var(--nav-dropdown-font-weight);
    padding-left: 0;
    padding-right: 60px;
    cursor: pointer;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }

  header nav .nav-sections ul li a,
  header nav .nav-sections ul li.nav-drop {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: transparent;
    border-top-width: 3px;
    border-top-style: solid;
    transition-property: color,background-color,border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    line-height: 1;
    background-color: transparent;
    color: #333;
  }

  header nav .nav-sections > ul > li.active > a,
  header nav .nav-sections > ul > li > a:hover,
  header nav .nav-sections > ul > li.nav-drop:hover {
    box-sizing: border-box;
    color: var(--primary-color-active);
    border-color: var(--primary-color-active);
    border-top-width: 3px;
    border-top-style: solid;
  }

  header nav .nav-sections > ul > li > ul {
    box-sizing: border-box;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    transition: opacity 0.2s ease-in;
    opacity: 0;
  }

  header nav .nav-sections > ul > li[aria-expanded=true] > ul {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 180px;
    padding: 0;
    background-color: var(--navigation-dropdown-background-color);
    border-top: 3px solid var(--primary-color-active);
    box-shadow: 1px 1px 30px rgb(0 0 0 / 6%);
    opacity: 1;
    visibility: visible;
  }

  header nav .nav-sections > ul > li > ul > li {
    box-sizing: border-box;
  }

  html[data-topposition='false'] header nav .nav-sections > ul > li {
    height: var(--nav-shrinked-height);
    padding-right: 45px;
  }

  header nav .nav-sections > ul > li > ul > li > a {
    box-sizing: border-box;
    padding: 7px 20px;
    border-top: none;
    border-bottom: 1px solid var(--navigation-dropdown-border-color);
    font-family: var(--body-font-family);
    font-size: var(--nav-dropdown-font-size);
    font-weight: var(--nav-dropdown-element-font-weight);
    height: auto;
    line-height: 1.6;
  }

  header nav .nav-sections > ul > li > ul > li > a:hover {
    color: var(--primary-text-color);
    background-color: var(--navigation-dropdown-hover-color);
  }
}

@media (min-width: 1500px) {
  header nav .nav-sections > ul > li[aria-expanded=true] > ul {
    left: 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}
