header {
  position: relative;
  z-index: 10011;
  height: var(--nav-height);
  box-shadow: 0 10px 50px -2px rgb(0 0 0 / 14%);
}

#nav .nav-hamburger button {
  cursor: pointer;
  height: 20px;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: var(--primary-background-color);
  color: var(--hamburger-button-color);
  transition: 0.4s;
}

#nav .nav-sections > ul > li.nav-drop button {
  display: none;
}

div.header.block {
  background-color: var(--primary-background-color);
  width: 100%;
  height: var(--nav-height);
  box-shadow: rgb(0 0 0 / 12%) 0 1px 3px;
  position: fixed;
}

#nav {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#nav img {
  height: 42px;
  width: 150px;
}

#nav .nav-sections {
  height: 100%;
}

#nav .nav-sections ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav .nav-sections > ul {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: var(--nav-font-family);
  font-size: var(--body-font-size-s);
  font-weight: var(--nav-dropdown-element-font-weight);
}

#nav .nav-sections > ul > li {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 100%;
  margin-right: 60px;
  text-transform: uppercase;
  color: var(--link-color);
  cursor: pointer;
  border-color: var(--primary-background-color);
  border-top-width: 3px;
  border-top-style: solid;
}

#nav .nav-drop > ul > li {
  display: list-item;
  padding: 7px 20px;
  border-bottom: 1px solid var(--mobile-navigation-list-border-color);
  color: var(--link-color);
  font-family: var(--body-font-family);
  font-size: var(--nav-dropdown-font-size);
  font-weight: var(--nav-dropdown-element-font-weight);
}

#nav .nav-sections > ul > li:hover,
#nav .nav-sections > ul > li.active {
  color: var(--link-hover-color);
  text-decoration: none;
  border-color: var(--primary-color-active);
}

#nav .nav-sections > ul > li:last-child {
  margin-right: 0;
}

#nav .nav-sections a {
  color: inherit;
  text-decoration: none;
}

#nav[aria-expanded=false] .nav-sections {
  display: none;
}

#nav .nav-drop {
  position: relative;
}

#nav .nav-drop > ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 180px;
  border-color: var(--primary-color-active);
  border-top-width: 3px;
  border-top-style: solid;
}

#nav .nav-drop:hover > ul,
#nav .nav-drop[aria-expanded=true] > ul {
  display: block;
  background-color: var(--navigation-dropdown-background-color);
}

#nav .nav-drop > ul > li:hover,
#nav .nav-drop > ul > li[aria-expanded=true] {
  background-color: var(--navigation-dropdown-hover-color);
}

#nav .nav-hamburger {
  grid-area: hamburger;
  height: 20px;
  display: none;
  align-items: center;
  justify-self: end;
}


#nav .nav-hamburger-icon,
#nav .nav-hamburger-icon::before,
#nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 18px;
  height: 3px;
  border-radius: 3px;
  background: currentcolor;
}

#nav .nav-hamburger-icon::before,
#nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

#nav .nav-hamburger-icon::before {
  top: -6px;
}

#nav .nav-hamburger-icon::after {
  top: 6px;
}

@media (min-width: 1500px) {
  #nav .nav-drop:hover > ul,
  #nav .nav-drop[aria-expanded=true] > ul {
    left: 0;
  }
}

@media (max-width: 800px) {
  header {
    height: var(--nav-mobile-height);
  }

  div.header.block {
    height: var(--nav-mobile-height);
  }

  #nav[aria-expanded=true] {
    display: grid;
    grid-template:
					  'brand hamburger tools' var(--nav-mobile-height)
					  'sections sections sections' 1fr / auto 1fr auto;
    align-items: center;
  }

  #nav .nav-sections {
    display: none;
    flex-direction: column;
    grid-area: sections;
  }

  #nav[aria-expanded=true] .nav-sections {
    display: block;
  }

  #nav .nav-sections ul {
    border-top: 1px solid var(--mobile-navigation-list-border-color);
    display: block;
    width: 100vw;
    position: absolute;
    left: 0;
    background-color: var(--mobile-navigation-list-backgroud-color);
    font-size: var(--body-font-size-s);
    font-weight: var(--nav-dropdown-font-weight);
  }

  #nav .nav-drop > ul {
    display: none;
  }

  #nav .nav-drop[aria-expanded=false] > ul {
    display: none;
  }

  #nav .nav-drop:hover[aria-expanded=false] > ul {
    display: none;
  }

  #nav .nav-sections > ul > li.nav-drop button {
    display: block;
    position: fixed;
    right: 30px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  #nav .nav-sections ul > li {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    padding: 0 0 0 30px;
    background-color: var(--mobile-navigation-list-backgroud-color);
    font-family: var(--nav-mobile-font-family);
    font-size: 0.85em;
    font-weight: var(--nav-dropdown-element-font-weight);
    border-top: none;
    border-bottom: 1px solid var(--mobile-navigation-list-border-color);
  }

  #nav .nav-sections > ul > li > ul > li {
    padding-left: 39px;
  }

  #nav .nav-sections ul > li:hover {
    background-color: var(--mobile-navigation-dropdown-hover-color);
    border-bottom: 1px solid var(--mobile-navigation-list-border-color);
  }

  #nav .nav-sections ul > li.active {
    border-bottom: 1px solid var(--mobile-navigation-list-border-color);
  }

  #nav .nav-sections > ul > li > ul > li a::before {
    content: "-";
    margin-right: 2px;
  }

  #nav .nav-arrow-icon::after {
    content: '';
    width: 6px;
    height: 6px;
    display: inline-block;
    transform: rotate(135deg);
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
    border-color: var(--link-color);
    border-style: solid;
  }

  #nav .nav-hamburger {
    display: flex;
  }
}
