.section.hero-container {
  padding-bottom: 0;
}

.section.hero-container .hero-wrapper {
  padding-top: 0;
}

.hero.block h1 {
  --font-size: var(--heading-font-size-xl);

  font-family: var(--secondary-heading-font-family);
  line-height: var(--heading-line-height-xl);
  margin: 10px 0 31px;
  text-align: unset;
}

.hero.block img {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  max-width: 100vw;
}
