/* block specific CSS goes here */

main .hero-container {
  padding: 0;
  position: relative;
  height: 35vw;
}

main .hero-container h1 {
  padding: 0 30px;
  margin: auto;
  max-width: 1200px;
  text-align: unset;
  font-family: var(--secondary-heading-font-family);
  font-weight: 400;
  font-size: 2.4vw;
}

main > div.hero-container > div.hero-wrapper {
  max-width: unset;
  padding: 0;
}

main .hero-container > picture {
  width: 100%;

}
