footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

.footer {
  max-width: 1200px;
  border: 0;
  margin: 0 auto;
  padding: 0;
}

.footer > div > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer ul {
  list-style: none;
  display: flex;
  overflow: hidden;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-flow: wrap;
}

.footer li {
  border: 0;
  margin: 0;
  font-size: var(--body-font-size-s);
  padding: 0 2em;
  text-align: center;
  border-right: 1px solid black;
}

.footer li:last-child {
  border: 0;
}

.footer a {
  cursor: pointer;
  font-family: var(--body-font-family);
  font-size: var(--button-font-size);
  font-style: normal;
  line-height: var(--button-line-height);
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
  padding: 0;
}

.footer a:hover {
  color: var(--primary-color-active);
}

.footer a.active {
  color: var(--primary-color-active);;
}

.footer a:focus {
  color: var(--primary-color-active);
  outline: none;
}

.footer p {
  line-height: 2rem;
  vertical-align: middle;
  font-size: var(--body-font-size-s);
  text-align: center;
  flex-grow: 1;
  margin: 0;
}
