/*
 * Copyright 2023 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
  font-family: AvenirNextLTPro-Demi;
  src: url("/fonts/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url("/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: PTSans-Regular;
  src: url("/fonts/PTSans-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

:root {
  /* base colors */
  --primary-color: #bd3826bf;
  --primary-color-active: #bd3826;
  --primary-background-color: #fff;
  --primary-text-color: #1d1d1b;
  --primary-border-color: #cc3939;
  --primary-border-color-active: #d2d2d27f;
  --secondary-color: #000;
  --secondary-color-active: #f4f4f4;
  --secondary-background-color: #000;
  --secondary-text-color: #fff;
  --secondary-border-color: #f4f4f4;

  /* feature colors */
  --primary-button-background-color: var(--primary-color);
  --primary-button-border-color: var(--primary-background-color);
  --secondary-button-background-color: var(--secondary-color);
  --secondary-button-border-color: var(--primary-background-color);
  --link-color: #333;
  --link-hover-color: var(--primary-color-active);
  --overlay-background-color: #f0f0f0;
  --highlight-background-color: #ccc;
  --navigation-dropdown-background-color: #f2efef;
  --navigation-dropdown-border-color: #dcdadb;
  --navigation-dropdown-hover-color: #f8f8f8;

  /* fonts */
  --body-font-family: 'AvenirNextLTPro-Regular', arial, helvetica, sans-serif;
  --heading-font-family: var(--body-font-family);
  --secondary-heading-font-family: 'AvenirNextLTPro-Demi', arial, helvetica, sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --nav-font-family: 'OpenSans-Regular', arial, helvetica, sans-serif;

  /* body font sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;

  /* heading font sizes */
  --heading-font-size-xxl: 60px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 26px;
  --heading-font-size-m: 16px;
  --heading-font-size-s: 12px;
  --heading-font-size-xs: 12px;

  /* heading font weights */
  --heading-font-weight: 400;
  --heading-font-weight-m: 400;
  --heading-font-weight-s: 400;

  /* heading line heights */
  --heading-line-height-xxl: 1.4em;
  --heading-line-height-xl: 1.4em;
  --heading-line-height-l: 1.5em;
  --heading-line-height-m: 1.5em;
  --heading-line-height-s: 1.5em;
  --heading-line-height-xs: 1.5em;

  /* button sizes */
  --button-border-size: 2px;
  --button-font-size: var(--body-font-size-s);
  --button-line-height: 1em;

  /* nav height */
  --nav-height: 72px;
  --nav-dropdown-font-size: 13px;
  --nav-dropdown-font-weight: 500;
  --nav-dropdown-element-font-weight: 400;
}

body {
  color: var(--primary-text-color);
  display: none;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  margin: 0;
}

body.appear {
  display: unset;
}

body .dark {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);    
}

body .dark a {
  color: var(--primary-color-active);    
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
  line-height: var(--heading-line-height-xxl);
  text-align: center;
}

h2 {
  font-family: var(--secondary-heading-font-family);
  font-size: var(--heading-font-size-xl);
  line-height: var(--heading-line-height-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
  line-height: var(--heading-line-height-l);
}

h4 {
  font-size: var(--heading-font-size-m);
  font-weight: var(--heading-font-weight-m);
  line-height: var(--heading-line-height-m);
}

h5 {
  font-size: var(--heading-font-size-s);
  font-weight: var(--heading-font-weight-s);
  line-height: var(--heading-line-height-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
  line-height: var(--heading-line-height-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link, button {
  background-color: var(--primary-button-background-color);
  border: var(--button-border-size) solid var(--primary-button-border-color);
  box-sizing: border-box;
  color: var(--primary-background-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--body-font-family);
  font-size: var(--button-font-size);
  font-style: normal;
  line-height: var(--button-line-height);
  margin: 0;
  overflow: hidden;
  padding: 13px 29px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-overflow: ellipsis;
  transition-duration: .2s;
  transition-property: all;
  transition-timing-function: ease;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

.section.dark a.button:any-link, .section.dark button {
  background-color: var(--secondary-button-background-color);
  border: var(--button-border-size) solid var(--secondary-button-border-color);
  color: var(--primary-background-color);
}

.section.dark a.button:hover, .section.dark a.button:focus, .section.dark button:hover, .section.dark button:focus {
  background-color: var(--primary-background-color);
  color: var(--secondary-color);
  cursor: pointer;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--primary-text-color)
}


main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

main input:hover {
  border: 1px solid var(--primary-text-color);
}

main {
  margin-top: 75px;
}

main .section {
  padding: 0 30px;
  margin-bottom: 100px;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

@media (min-width: 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}
